@import './common';

$textColor:#424242;
$textSecondaryColor:#7a7a7a;
$dividerColor:#dddddd;

/* Icons */
$iconFontSize:13px;
$iconWidth:16px;

/* Error */
$errorColor:#EF5350;

/* Header */
$headerPadding:6px 12px;
$headerBgColor:#f5f5f5;
$headerBorderColor:#d8d8d8;
$headerTextColor:#424242;
$headerHoverBgColor:#dcdcdc;
$headerHoverTextColor:#424242;
$headerIconColor:#424242;
$headerIconHoverColor:$primaryColor;

/* Contents */
$contentPadding:6px 12px;
$contentBorderColor:#d8d8d8;
$contentBgColor:#ffffff;

/* Forms */
$inputBgColor:#ffffff;
$inputPadding:6px;
$inputBorderColor:#cccccc;
$inputHoverBorderColor:$primaryColor;

/* Buttons */
$toggleButtonBgColor:#b6b7c2;

/* List Items */
$listItemPadding:6px 12px;

/* Messages */
$infoMessageBgColor:#39A3F4;
$infoMessageTextColor:#ffffff;
$warnMessageBgColor:#FFC800;
$warnMessageTextColor:#141d26;
$errorMessageBgColor:#EF5350;
$errorMessageTextColor:#ffffff;
$fatalMessageBgColor:#E73E51;
$fatalMessageTextColor:#ffffff;

/* Data */
$datatableCellBorderColor:#d8d8d8;
$datableEvenRowBgColor:#f9f9f9;

/* TabView */
$tabHeaderPadding:8px 12px;

/* Menus */
$menuBgColor:#ffffff;
