.output { font-family: monospace; font-weight: bold; }

#doodle {
  position: relative;
  width: 0px;
  height: 0px;
  z-index: 2;
}

#canvas {
  z-index: 1;
}

.bbox {
  border: 1px solid #FF0000;
  position: absolute;
  z-index: 3;
}

.handle, .ui-resizable-handle {
  border-radius: 50%;
  position: absolute;
}

.center-drag {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: move;
}

.ui-resizable-n {
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: n-resize;
}

.ui-resizable-s {
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 50%);
  cursor: s-resize;
}

.ui-resizable-w {
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: w-resize;
}

.ui-resizable-e {
  right: 0%;
  top: 50%;
  transform: translate(50%, -50%);
  cursor: e-resize;
}

.ui-slider {
  position: relative;
  text-align: left;
  height: .8em;
}

.ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  top: -.3em;
  margin-left: -.6em;
}

.ui-widget.ui-widget-content {
  border: 1px solid #d3d3d3;
}

.ui-state-default {
  border: 1px solid #d3d3d3;
  background-color: #e6e6e6;
}

.ui-state-hover, .ui-state-focus {
  border: 1px solid #999999;
  background-color: #dadada;
}

.ui-state-active {
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
}

.ui-state-disabled {
  opacity: .35;
}

.ui-corner-all {
  border-radius: 4px;
}