<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="show_sql">true</property>
        <mapping resource="co/edu/usbcali/vas/model/Users.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/MailTemplate.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/SystemRestLog.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/SystemLog.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/SystemMonitoringLog.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/SystemParameter.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/CronJobMonitoring.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/SystemMailLog.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/VideoDocument.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/CronJob.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/Document.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/News.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/SystemConfig.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/DeviceLog.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/MailServer.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/SystemVideoLog.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/TicketType.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/SystemCronLog.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/Device.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/Video.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/MessageBox.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/Ticket.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/UserType.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/SystemCompanyParameter.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/VideoTemp.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/VideoStatus.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/VideoType.hbm.xml" />
        <mapping resource="co/edu/usbcali/vas/model/Queries.hbm.xml" />
    </session-factory>
</hibernate-configuration>
